<nav class="navbar navbar-expand-lg bg-white shadow-sm mb-1 fixed-top">
    <div class="container-fluid">
        <p class="fw-bold ms-5 mt-3">LOGO</p>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link current" href="accueil#about">A propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="accueil#cadrage" >Cadrage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="accueil#galerie">Galerie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="accueil#tem">Temoignages</a>
          </li>
        </ul>
        <button class="me-5 icon btn" [routerLink]="['/login']">
            Connexion
        </button>
        
      </div>
    </div>
  </nav>