<main>
    <div class="wrapper">
        <form class="form-signin">       
          <h4 class="form-signin-heading">Veuillez vous connecter</h4>
          <input type="text" class="form-control" name="username" placeholder="Email " required="" autofocus="" />
          <input type="password" class="form-control" name="password" placeholder="Mot de passe" required=""/>      
         
          <button class="btn text-center btn-lg btn-primary btnAjout btn-block" type="submit">Connexion</button>   
        </form>
      </div>
</main>
