/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/dist/css/bootstrap.min.css";


:root{
    --couleur:#137C8B;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    /* border: 1px solid red; */
}

a{
    text-decoration: none;
    font-size: 18px !important;
}