<app-header></app-header>
<main>
    <section class="banniere">
        <div class="slogan  mt-5">

            <p class="text-center fs-2  "><i>Capturez vos moments les plus précieux.</i></p>
        </div>
        <button type="button" class="btn  mt-5 btnAjout " data-bs-toggle="modal" data-bs-target="#exampleModal">
            Reservez pour un shooting          </button>
    </section>
    <section class="about" id="about">
        <h4 class="text-center mt-4" style="color: var(--couleur);">A propos</h4>
        <div class="contenu d-flex ">
            <div class="image me-2">
                <img src="assets/propos.png" width="500vh" height="380vh" alt="">
            </div>
            <div class="texte ms-5">
                <p>
                    Vous cherchez un photographe pour capturer les moments les plus précieux de votre vie ? Que ce soit pour un mariage, un portrait, un événement spécial ou simplement pour immortaliser la beauté de votre quotidien, je suis là pour vous aider à créer des souvenirs inoubliables. Je suis un photographe passionné avec un œil pour les détails et un talent pour capturer l'émotion dans mes images. Je travaille avec chaque client pour comprendre ses besoins et ses attentes, et je crée des photographies qui racontent sa véritable histoire. Mes services incluent des séances personnalisées qui s'adaptent à votre style et à votre vision. Avec moi, chaque instant est transformé en une œuvre d'art intemporelle que vous chérirez pour toujours.
                </p>
            </div>

        </div>

    </section>

    <section class="galerie" id="galerie">
        <h4 class="text-center mt-4" style="color: var(--couleur);">Galerie</h4>
        <div class="conten">
            <ul class="filtre mb-3 d-flex justify-content-between">
                <li>Mariage</li>
                <li>Maternité</li>
                <li>Produits</li>
                <li>Tourisme</li>
                <li>Soutenance</li>
            </ul>
            <div class="cartes mb-3 row col col-md 4 col-lg-3">
                <div class="card ms-5" style="width: 15rem;">
                    <div class="card-body">
                        <img src="https://img.freepik.com/premium-photo/happy-bride-groom-their-wedding-day_100800-19164.jpg?ga=GA1.1.522834921.1700648147&semt=sph" width="295vh" height="165vh" alt="">
                    </div>
                    <div class="card-footer">
                        <h5 class="card-title">Mariage 1</h5>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicingrit fugiat nam sequi eius corrupti odit dolorum pariatur in ?</p>
                    </div>
                </div>
                <div class="card ms-5" style="width: 15rem;">
                    <div class="card-body">
                        <img src="https://img.freepik.com/premium-photo/happy-bride-groom-their-wedding-day_100800-19164.jpg?ga=GA1.1.522834921.1700648147&semt=sph" width="295vh" height="165vh" alt="">
                    </div>
                    <div class="card-footer">
                        <h5 class="card-title">Mariage 1</h5>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicingrit fugiat nam sequi eius corrupti odit dolorum pariatur in ?</p>
                    </div>
                </div>
                <div class="card ms-5" style="width: 15rem;">
                    <div class="card-body">
                        <img src="https://img.freepik.com/premium-photo/happy-bride-groom-their-wedding-day_100800-19164.jpg?ga=GA1.1.522834921.1700648147&semt=sph" width="295vh" height="165vh" alt="">
                    </div>
                    <div class="card-footer">
                        <h5 class="card-title">Mariage 1</h5>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicingrit fugiat nam sequi eius corrupti odit dolorum pariatur in ?</p>
                    </div>
                </div>
                <div class="card ms-5" style="width: 15rem;">
                    <div class="card-body">
                        <img src="https://img.freepik.com/premium-photo/happy-bride-groom-their-wedding-day_100800-19164.jpg?ga=GA1.1.522834921.1700648147&semt=sph" width="295vh" height="165vh" alt="">
                    </div>
                    <div class="card-footer">
                        <h5 class="card-title">Mariage 1</h5>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicingrit fugiat nam sequi eius corrupti odit dolorum pariatur in ?</p>
                    </div>
                </div>
                <div class="card ms-5" style="width: 15rem;">
                    <div class="card-body">
                        <img src="https://img.freepik.com/premium-photo/happy-bride-groom-their-wedding-day_100800-19164.jpg?ga=GA1.1.522834921.1700648147&semt=sph" width="295vh" height="165vh" alt="">
                    </div>
                    <div class="card-footer">
                        <h5 class="card-title">Mariage 1</h5>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicingrit fugiat nam sequi eius corrupti odit dolorum pariatur in ?</p>
                    </div>
                </div>
                <div class="card ms-5" style="width: 15rem;">
                    <div class="card-body">
                        <img src="https://img.freepik.com/premium-photo/happy-bride-groom-their-wedding-day_100800-19164.jpg?ga=GA1.1.522834921.1700648147&semt=sph" width="295vh" height="165vh" alt="">
                    </div>
                    <div class="card-footer">
                        <h5 class="card-title">Mariage 1</h5>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicingrit fugiat nam sequi eius corrupti odit dolorum pariatur in ?</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="tem" id="tem">
        <h4 class="text-center mt-4" style="color: var(--couleur);">Temoignages</h4>
        <div class="avis mb-3 row col col-md-4 col-lg-3">
            <div class="card ms-3 temoignage" style="width: 18rem;">
                <p><svg class="heart" xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 256 256"><path fill="currentColor" d="M240 102c0 70-103.79 126.66-108.21 129a8 8 0 0 1-7.58 0C119.79 228.66 16 172 16 102a62.07 62.07 0 0 1 62-62c20.65 0 38.73 8.88 50 23.89C139.27 48.88 157.35 40 178 40a62.07 62.07 0 0 1 62 62"/></svg></p>
                <h6 Class="text-center mt-1" >Moussa Basse</h6>
                <p>
                    Je suis tellement heureuse de vous avoir choisi pour photographier mon mariage. Ses photos sont absolument magnifiques et elles capturent parfaitement l'ambiance de notre journée. Je suis tellement reconnaissante pour son talent et son professionnalisme.
                </p>
            </div>
            <div class="card  temoignage" style="width: 18rem;" >
                <p><svg class="heart" xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 256 256"><path fill="currentColor" d="M240 102c0 70-103.79 126.66-108.21 129a8 8 0 0 1-7.58 0C119.79 228.66 16 172 16 102a62.07 62.07 0 0 1 62-62c20.65 0 38.73 8.88 50 23.89C139.27 48.88 157.35 40 178 40a62.07 62.07 0 0 1 62 62"/></svg></p>
                <h6 Class="text-center mt-1" >Moussa Basse</h6>
                <p>
                    Je suis tellement heureuse de vous avoir choisi pour photographier mon mariage. Ses photos sont absolument magnifiques et elles capturent parfaitement l'ambiance de notre journée. Je suis tellement reconnaissante pour son talent et son professionnalisme.
                </p>
            </div>
            <div class="card  temoignage" style="width: 18rem;">
                <p><svg class="heart" xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 256 256"><path fill="currentColor" d="M240 102c0 70-103.79 126.66-108.21 129a8 8 0 0 1-7.58 0C119.79 228.66 16 172 16 102a62.07 62.07 0 0 1 62-62c20.65 0 38.73 8.88 50 23.89C139.27 48.88 157.35 40 178 40a62.07 62.07 0 0 1 62 62"/></svg></p>
                <h6 Class="text-center mt-1" >Moussa Basse</h6>
                <p>
                    Je suis tellement heureuse de vous avoir choisi pour photographier mon mariage. Ses photos sont absolument magnifiques et elles capturent parfaitement l'ambiance de notre journée. Je suis tellement reconnaissante pour son talent et son professionnalisme.
                </p>
            </div>
        </div>

    </section>

    <section class="contact" id="contact">
        <h4 class="text-center mt-4" style="color: var(--couleur);">Contactez-nous</h4>
        <div class="cont">
            <form action="#">
                <div class="row g-3 mb-3">
                    <div class="col">
                        <label for="prenom">Prenom :</label>
                      <input type="text" id="prenom" class="form-control" placeholder="Prenom" aria-label="Prenom">
                    </div>
                    <div class="col">
                        <label for="nom">Nom :</label>
                      <input type="text" class="form-control" placeholder="Nom" aria-label="Nom">
                    </div>
                  </div>
                <div class="row g-3 mb-3">
                    <div class="col">
                        <label for="prenom">Email :</label>
                      <input type="text" id="Lieu" class="form-control" placeholder="Lieu" aria-label="Prenom">
                    </div>
                    <div class="col">
                        <label for="nom">Numero :</label>
                      <input type="text" class="form-control" placeholder="Numero" aria-label="Nom">
                    </div>
                  </div>
                <div class="row g-3 mb-3">
                    <div class="col">
                        <label for="nom">Sujet :</label>
                        <input type="text" id="Adresse" class="form-control" placeholder="Sujet" aria-label="Prenom">
                        
                    </div>

                  </div>
                  <div class="mb-3">

                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>

                  <button class="btn btnAjoute"> Envoyer</button>
                  
              </form>
        </div>

    </section>


    <section class="cadrage" id="cadrage">
        <h4 class="text-center mt-4" style="color: var(--couleur);">Modeles de cadres</h4>
        <div class="cadre row col col-md-6 col-lg-4" >
            <div class="card" style="width: 19rem;">
                <div class="card-body">
                    <img class="imgcad" src="https://img.freepik.com/free-photo/top-view-wooden-frame-with-copy-space_23-2148553336.jpg?ga=GA1.1.522834921.1700648147&semt=ais_user" width="300vh" height="300vh" alt="">
                </div>
                <div class="card-footer">
                    <p class="text-center">cadre 1</p>
                </div>
            </div>
            <div class="card" style="width: 19rem;">
                <div class="card-body">
                    <img class="imgcad" src="https://img.freepik.com/free-photo/top-view-wooden-frame-with-copy-space_23-2148553336.jpg?ga=GA1.1.522834921.1700648147&semt=ais_user" width="300vh" height="300vh" alt="">
                </div>
                <div class="card-footer">
                    <p class="text-center">cadre 1</p>
                </div>
            </div>
            <div class="card" style="width: 19rem;">
                <div class="card-body">
                    <img class="imgcad" src="https://img.freepik.com/free-photo/top-view-wooden-frame-with-copy-space_23-2148553336.jpg?ga=GA1.1.522834921.1700648147&semt=ais_user" width="300vh" height="300vh" alt="">
                </div>
                <div class="card-footer">
                    <p class="text-center">cadre 1</p>
                </div>
            </div>
        </div>
        <button class="btn btnAjouter mb-5  mt-3"  data-bs-toggle="modal" data-bs-target="#exampleModal1">Commander un cadre</button>
    </section>

</main>
<footer>
    <p class="text-center">copyright</p>
</footer>


 <!-- Modal d'ajout-->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Formulaire de prise de rendez-vous</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="#">
            <div class="row g-3 mb-3">
                <div class="col">
                    <label for="prenom">Prenom :</label>
                  <input type="text" id="prenom" class="form-control" placeholder="Prenom" aria-label="Prenom">
                </div>
                <div class="col">
                    <label for="nom">Nom :</label>
                  <input type="text" class="form-control" placeholder="Nom" aria-label="Nom">
                </div>
              </div>
            <div class="row g-3 mb-3">
                <div class="col">
                    <label for="prenom">Date :</label>
                  <input type="date" id="prenom" class="form-control" placeholder="Date" aria-label="Prenom">
                </div>
                <div class="col">
                    <label for="nom">Heure :</label>
                  <input type="text" class="form-control" placeholder="Heure" aria-label="Nom">
                </div>
              </div>
            <div class="row g-3 mb-3">
                <div class="col">
                    <label for="prenom">Lieu :</label>
                  <input type="text" id="Lieu" class="form-control" placeholder="Lieu" aria-label="Prenom">
                </div>
                <div class="col">
                    <label for="nom">Numero :</label>
                  <input type="text" class="form-control" placeholder="Numero" aria-label="Nom">
                </div>
              </div>
            <div class="row g-3 mb-3">
                <div class="col">
                    <label for="prenom">Adresse :</label>
                  <input type="text" id="Adresse" class="form-control" placeholder="Adresse" aria-label="Prenom">
                </div>
                <div class="col">
                    <label for="nom">type :</label>
                   <select class="form-select" aria-label="Default select example">
                    <option selected>Selectionnez la fonction</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
              
          </form>
        </div>
        <div class="modal-footer">
            <button type="button"  data-bs-dismiss="modal" class="btn btnAjout " style="margin-left:-5vh;">Ajouter</button>
          <button type="button" class="btn btnAnnuler " data-bs-dismiss="modal">Annuler</button>
        </div>
      </div>
    </div>
  </div>
 <!-- Modal cadre-->
 <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Formulaire de demande de cadrage</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="#">
            <div class="row g-3 mb-3">
                <div class="col">
                    <label for="prenom">Prenom :</label>
                  <input type="text" id="prenom" class="form-control" placeholder="Prenom" aria-label="Prenom">
                </div>
                <div class="col">
                    <label for="nom">Nom :</label>
                  <input type="text" class="form-control" placeholder="Nom" aria-label="Nom">
                </div>
              </div>
            <div class="row g-3 mb-3">
                <div class="col">
                    <label for="prenom">Email :</label>
                  <input type="text" id="prenom" class="form-control" placeholder="email" aria-label="Prenom">
                </div>
                <div class="col">
                    <label for="nom">Numero :</label>
                  <input type="text" class="form-control" placeholder="numero" aria-label="Nom">
                </div>
              </div>
            <div class="row g-3 mb-3">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Photo :</label>
                    <input class="form-control" type="file" id="formFile">
                  </div>
                <div class="col">
                    <label for="nom">Longueur :</label>
                  <input type="text" class="form-control" placeholder="Numero" aria-label="longueur">
                </div>
              </div>
            <div class="row g-3 mb-3">
                <div class="col">
                    <label for="prenom">Largeur :</label>
                  <input type="text" id="Adresse" class="form-control" placeholder="largeur" aria-label="Prenom">
                </div>
                <div class="mb-3">

                    <label for="exampleFormControlTextarea1" class="form-label">Commentaire:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
              </div>
              
          </form>
        </div>
        <div class="modal-footer">
            <button type="button"  data-bs-dismiss="modal" class="btn btnAjout " style="margin-left:-5vh;">Ajouter</button>
          <button type="button" class="btn btnAnnuler " data-bs-dismiss="modal">Annuler</button>
        </div>
      </div>
    </div>
  </div>

